
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="concact-view" class="container-fluid">
    <div class="row">
        <section class="col-lg-12 padding0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7917.275938328251!2d10.738424728181604!3d56.36829184797148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c2b608152cc73%3A0xd75e2ebba1663da5!2sSvinget+2%2C+8570+Trustrup!5e1!3m2!1sda!2sdk!4v1516043279684" frameborder="0" style="border:0" allowfullscreen></iframe>

        </section>
    </div>
</div>

