/*FONT Raleway START*/
@font-face {
    font-family: 'Raleway-Regular';
    src: url('RalewayFont/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('RalewayFont/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('RalewayFont/Raleway-Light.ttf') format('truetype');
}
/*FONT Raleway SLUT*/

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    font-size: 16px;
    font-family: Raleway-Regular, sans-serif;
    padding-top: 60px;
    padding-bottom: 80px;
}

/*NAV START*/


#nav-image {
    position: absolute;
    height: 100%;
    vertical-align: top;
    left: 0;
}

.navbar-header{
    height:60px;
}

.navbar-brand {
    position: relative;
    width: 550px;
    float: left;
    height: 60px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default {
    height: 60px;
    margin-bottom: 0 !important;
    /*background-color: #a65958 !important;*/
    border: none !important;
    background-image: none;
    font-size: 0.9em;
    letter-spacing: 3px;
    font-family: Raleway-Light;
}

    .navbar-default .navbar-brand {
        color: #777;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #5e5e5e;
            background-color: transparent;
        }

    .navbar-default .navbar-text {
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #fff !important;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #fff !important;
            background-color: rgba(255, 255, 255, 0.10) !important;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #fff !important;
        background-color: rgba(255, 255, 255, 0.10) !important;
    }

    .navbar-default .navbar-nav > .disabled > a,
    .navbar-default .navbar-nav > .disabled > a:hover,
    .navbar-default .navbar-nav > .disabled > a:focus {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.10);
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #ddd;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #888;
        }

.navbar.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #a65958 !important;
}
/*NAV SLUT*/


/*SOCIAL LINKS*/
.sociallinks {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1029;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.76);
    line-height: initial;
}

    .sociallinks a {     
        color: white;
        font-size: 18px;
    }


        .sociallinks a:hover {
            color: white;
        }


/*FOOTER START*/
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer {
    position: relative;
    background-color: #f6f6f6;
    height: 80px;
}

    footer > section {
        position: absolute;
        top: 25% !important;
        width: 100%;
    }

        footer > section > h4 {
            font-size: 0.8em;
            letter-spacing: 3px;
            font-family: Raleway-Regular;
        }
/*FOOTER SLUT*/


/*TEKST START*/
h1 {
}

h2 {
    font-size: 1.5em;
    letter-spacing: 3px;
}

h3 {
    font-size: 1.2em;
    letter-spacing: 3px;
}

p {
    letter-spacing: 1px;
}
/*TEKST SLUT*/


/*SCROLLBAR START*/
::-webkit-scrollbar {
    height: 9px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #a65958;
    border: 0px none #000000;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #a65958;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #a65958;
    }

::-webkit-scrollbar-track {
    background: #f6f6f6;
    border: 1px solid rgba(0, 0, 0, 0.43);
    border-radius: 0px;
}

    ::-webkit-scrollbar-track:hover {
        background: #f6f6f6;
    }

    ::-webkit-scrollbar-track:active {
        background: #f6f6f6;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}
/*SCROLLBAR SLUT*/


/*VELKOMMEN-SECTION START*/
#welcome-section {
    padding: 20px 20px 40px 20px;
}
/*VELKOMMEN-SECTION SLUT*/


/*PRODUCT-SECTION START*/
#product-section {
    background-color: #a65958 !important;
}

    #product-section > section > a {
        color: #fff;
        cursor: pointer;
    }
/*PRODUCT-SECTION SLUT*/


/*INFO-SECTION START*/
#info-section {
    padding: 20px 20px 40px 20px;
}
/*INFO-SECTION SLUT*/


/*PRODUCT ALL START*/
#product-all {
    position: relative;
}

.gallery_product {
    margin-bottom: 30px;
}



#product-all > div > a {
    color: #fff;
    cursor: pointer;
}

#product-all .dropdown-menu {
    border: none;
    min-width: 105px;
    border-radius: 2px;
}

#product-all .dropdown {
    position: absolute;
    right: 15px;
    top: 40px;
}
/*PRODUCT ALL SLUT*/



/*PRODUCT DETAILS START*/
#product-details .product-text {
    position: relative;
}

#product-details .btn-custom {
    position: absolute;
    right: 0;
    bottom: 0;
}

#product-details .product-image {
    padding-bottom: 20px;
}

#product-details .product-text-last {
    padding-bottom: 30px;
}
/*PRRODUCT DETAILS SLUT*/


/*SUBSCRIPTION AND PACKAGE START*/
#subscription-view a > p, #package-view a > p {
    padding-top: 15px;
    color: black;
}

img {
    margin: 0 auto;
}

.text-wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.option {
    margin-bottom: 20px;
}

.removespace {
    padding: 0 !important;
}
/*SUBSCRIPTION AND PACKAGE SLUT*/

/*BESTILLING START*/
.color {
    background-color: #ab5958;
    color: white;
}

#order-view div.text-center {
    padding: 20px 20px 40px 20px;
}

    #order-view div.text-center > p {
        font-size: 0.8em;
        margin-bottom: 0;
    }
/*BESTILLING SLUT*/

/*KONTAKT START*/
#logocontainer {
    padding: 40px 0 40px 0;
    box-sizing: border-box;
    position: relative;
}

#logocontainer div:first-child {
    z-index: 1;
    position: absolute;
    background-color: #f6f6f6;
    width: 300px;
    height: 44px;
    margin: 0 auto;
    left: 50%;
    bottom: 3px;
    transform: translate(-50%, -50%) skew(-30deg);
}

#logocontainer div img {
    margin: 0 auto;
    -webkit-transform: skew(30deg);
    display: block;
}

#logocontainer div:last-child {
    width: 100%;
    height: 10px;
    background-color: #ab5958;
}

#contactpage ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    letter-spacing: 4px;
}
/*KONTAKT SLUT*/

/*FIGURE, FIGCAPTION, LINK START*/
figure {
    display: block;
    position: relative;
}

a {
    color: #fff;
    z-index: 300;
}

    a:hover:not(.btn-custom) {
        color: #939292 !important;
        text-decoration: none;
    }

figcaption {
    position: absolute;
    bottom: 0;
    background-color: #333;
    min-height: 13%;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color: none;
    letter-spacing: 2px;
    font-size:0.9em;
}

figure img {
    width: 100%;
}
/*FIGURE, FIGCAPTION, LINK SLUT*/

/*LOGIN SIDE*/

.loginbox {
    display: table;
    background-color: #a65958;
    border-radius: 8px;
    color: white;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.loginbox input {
    margin-bottom: 10px;
    color: black;
}

.loginbox button {
    color: black;
}

.loginbox label {
    font-weight: 100;
}

.loginbox h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

/*DIVERSE CLASS START*/
.margin0 {
    margin: 0;
}

.marginT0 {
    margin-top: 0;
}

.paddingT20 {
    padding-top: 20px;
}

.paddingB20 {
    padding-bottom: 20px;
}

.paddingT2 {
    padding-top: 2%;
}

.padding0 {
    padding: 0;
}

.paddingL0 {
    padding-left: 0;
}

.paddingT10 {
    padding-top: 25px;
}

.spacing {
    margin-left: 10px;
    margin-right: 10px;
}


/*DIVERSE CLASS START*/


/*KNAPPER START*/
.btn-custom {
    color: #000;
    background-color: #f6f6f6;
    border-color: #eeeded;
    padding: 2px 10px 1px 10px;
    border-radius: 0;
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 500;
    z-index: 0;
}

    .btn-custom:focus,
    .btn-custom.focus {
        color: #000;
        background-color: #f6f6f6;
        border-color: #f0f0f0;
    }

    .btn-custom:hover {
        color: #000;
        background-color: #ededed;
        border-color: #f0f0f0;
    }

    .btn-custom:active,
    .btn-custom.active,
    .open > .dropdown-toggle.btn-custom {
        color: #000;
        background-color: #ededed;
        border-color: #f0f0f0;
    }

/*Edit-knap*/
.btn-edit {
    color: #000;
    /*background-color: #75BBA7;
    border-color: #63b059;*/
    background-color: #66dd6d;
    border-color: #63b059;
    padding: 4px 6px;
    margin-bottom:10px;
    border-radius: 0;
    font-size: 0.7em;
    letter-spacing: 1px;
    font-weight: 500;
    z-index: 0;
}

.btn-edit:focus,
.btn-edit.focus {
    color: #000;
    background-color: #f6f6f6;
    border-color: #f0f0f0;
}

.btn-edit:hover {
    color: #000;
    background-color: #ededed;
    border-color: #f0f0f0;
}

.btn-edit:active,
.btn-edit.active,
.open > .dropdown-toggle.btn-custom {
    color: #000;
    background-color: #ededed;
    border-color: #f0f0f0;
}
/*KNAPPER START*/



.modal-content {
    border-radius: 0 !important;
    padding: 45px;
}

    .modal-content button.close {
        position: absolute;
        top: 10px;
        right: 15px;
    }

.modal-body img {
    width: 100%;
}

.modal-header, .modal-footer {
    border: 0;
}





/*Media*/
@media (max-width: 399px){
    .visible-mikro{
        display:block !important;
    }
    .hidden-mikro{
        visibility:hidden;
    }
}

@media (min-width:400px){
    .hiddenAfterMikro{
        visibility:hidden;
    }

}

@media (min-width: 400px) and (max-width: 442px){
    .visible-xxs{
        display:block !important;
    }
}



@media (min-width: 677px) and (max-width: 768px) {

    #product-section figure img, #product-all figure img, #product-details figure img {
        border-radius: 2px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        height: 60px;
        padding-top: 20px;
    }

    #product-details .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (max-width: 768px) {
    #product-section a:not(:last-child) {
        margin-bottom: 20px;
    }

    #product-section > div.paddingT20 {
        padding-top: 0 !important;
    }

    figure figcaption, figcaption {
        font-size: 0.7em;
    }

    #info-section > section > section {
        margin-bottom: 3%;
    }

    .navbar-brand {
        width: 405px;
    }

    .container-fluid > .navbar-collapse {
        margin-left: 0;
    }

    #order-view div.text-center > p {
        font-size: 0.7em;
    }

    #product-details .btn-custom {
        right: 20px;
    }

    #product-details {
    }
    .navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    background-color: #a65958;
    border-color: #a65958 !important;
}
}

@media (min-width: 767px) and (max-width: 841px) {
    .navbar-default .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.85em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #product-section {
        padding-left: 14%;
        padding-right: 14%;
    }

    figcaption {
        font-size: 0.6em;
    }

    .navbar-brand {
        width: 405px;
    }
}

@media (min-width: 992px) and (max-width: 1225px) {
    #order-view div.text-center {
        padding: 20px;
    }

        #order-view div.text-center > p {
            font-size: 0.7em;
            margin-bottom: 0px;
        }

        #order-view div.text-center > h2 {
            margin-top: 5px;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #product-section {
        padding-left: 14%;
        padding-right: 14%;
    }

    figcaption {
        font-size: 0.8em;
    }
}

@media (min-width: 1200px) {
    #product-section {
        padding-left: 14%;
        padding-right: 14%;
    }

    footer > section {
        padding-left: 7%;
    }

    .container {
        width: 960px;
    }
}
