
@{
	ViewBag.Title = "addEvent";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<form method="post" enctype="multipart/form-data">
	<label>Title for event:</label><br />
	<input name="Name" type="text" /><br />
	<label>Dato for event:</label><br />
	<input name="Date" type="date" /><br />
	<label>Beskrivelse af event:</label><br />
	<textarea name="Description"></textarea><br />
	<button type="submit">Gem</button>
</form>