
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="order-view" class="container-fluid">
    <div class="row row-eq-height">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
            <img src="~/Images/ContentImage/order1.svg" class="img-responsive" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <h2>Bestil enkelt eller flere øl</h2>
            <p class="paddingB20">
                Ønsker du ikke at købe et abonnement, er det også muligt <br />
                at ringe og bestille enkelt eller flere på: + 45 43 24 54 23
                <br /> eller giv os besked ved at trykke her:
            </p>
            <a href="/Home/Contact/" class="btn btn-custom">Kontakt</a>
        </div>
    </div>
    <div class="row color row-eq-height">
        <div class="hidden-lg hidden-md col-sm-12 col-xs-12 padding0">
            <img src="~/Images/ContentImage/order2.jpg" class="img-responsive" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <h2>Køb et abonnement</h2>
            <p class="paddingB20">
                Få en månedlig overraskelse ved at købe abonnement hos Lyngby Bryghus.
                <br class="hidden-md" />Hvert måned bliver der dannet en pakke med tilfældige øl
            </p>
            <a href="/Product/Subscription/" class="btn btn-custom">Køb abonnement</a>
        </div>
        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs padding0">
            <img src="~/Images/ContentImage/order2.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
            <img src="~/Images/ContentImage/order3.jpg" class="img-responsive" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <h2>Send en gavepakke</h2>
            <p class="paddingB20">
                Overrask et familiemedlem eller ven, ved at bestille en af denne
                <br/>måneds pakkeløsninger.
            </p>
            <a href="/Product/Package/" class="btn btn-custom">Gå til bestilling</a>
        </div>
    </div>
</div>

