<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Lyngby Bryghus">
    <meta name="keywords" content="Lyngby, Bryghus, Øl, Mjød, Henrik Obsen">
    <meta name="author" content="CMD, Henrik Obsen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
   


    <link href="~/CascadingStyleSheet/StyleSheet_CA.css" rel="stylesheet" />
</head>
<body>

    <header class="row">
        
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid paddingL0">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="/Home/Index/" class="navbar-brand">
                        <h1 class="margin0">
                            <img src="~/Images/logo.svg" id="nav-image" alt="Lyngby Bryghus" class="img-responsive hidden-xs hidden-sm" />
                            <img src="~/Images/logolille.svg" id="nav-image" alt="Lyngby Bryghus" class="img-responsive visible-xs visible-sm" />
                        </h1>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home/Index/">Forside</a></li>
                        <li><a href="/Product/Index/">Produkter</a></li>
                        <li><a href="/Product/Order/">Bestilling</a></li>
                        <li><a href="/Home/Contact/">Kontakt</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>


    <div id="main-content">
        @RenderBody()
    </div>
    <div id="footer">
        <footer class="container-fluid">
            <section class="row">
                <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Lyngby Bryghus. Svinget 2, 8570 Trustrup - contact@lbh.dk - + 45 43 24 54 23 </h4>
            </section>
        </footer>
    </div>

	<style>
		#Editor {
			z-index: 10000;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background: #ffffff;
			width: 500px;
			height: 600px;
		}
			#Editor form {
				height: 100%;
			}
				#Editor form label {
					min-width: 100%;
					min-height: 5%;
					max-width: 100%;
					max-height: 5%;
					padding: 4px 5px;
					margin: 0;
					vertical-align: text-bottom;
				}
				#Editor form textarea {
					position: absolute;
					bottom: 0;
					box-sizing: border-box;
					min-width: 100%;
					min-height: 95%;
					max-width: 100%;
					max-height: 95%;
				}
				#Editor form button {
					position: absolute;
					bottom: 0;
					right: 0;
				}
	</style>
	<div id="Editor" style="display:none;">
		<form name="Editor" action="/Home/update" method="post">
			<label class="Title">Title</label>
			<input type="hidden" name="jPath" />
			<textarea name="value"></textarea>
			<button>save</button>
		</form>
	</div>
    
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Main_JavaScript.js"></script>
	<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
</body>
</html>
